<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="CLR">{FATAL=red, ERROR=red, WARN=magenta, INFO=blue, DEBUG=white, TRACE=black}</Property>
        <Property name="PATTERN">
            %highlight{%d{HH:mm:ss} [%t] %-5level (%logger{2}) - %m}${CLR}%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${PATTERN}" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>